%p#notice= notice

%p
  %b Title:
  = @portfolio.title

%p
  %b Image:
  = @portfolio.image

%p
  %b Content:
  = @portfolio.content


= link_to 'Edit', edit_portfolio_path(@portfolio)
\|
= link_to 'Back', portfolios_path
