%p#notice= notice

%p
  %b Title:
  = @portfolio.title
%p
  %b String:
  = @portfolio.string
%p
  %b Image:
  = @portfolio.image
%p
  %b String:
  = @portfolio.string
%p
  %b Content:
  = @portfolio.content
%p
  %b Text:
  = @portfolio.text

= link_to 'Edit', edit_portfolio_path(@portfolio)
\|
= link_to 'Back', portfolios_path
